html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 16px;
	background-color: #323D45;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	text-align: center;
	color: white;
	/*border: 1px solid red;*/
}

/*-------- Navgiation Section --------*/
.navbar {
	background-color: rgba(45, 45, 45, 0.0);
	list-style-type: none;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.navbutton {
	padding: 0.875rem 1.00rem;
	width: 6.50rem;
	text-decoration: none;
	float: left;
	clear: right;
}

.navbutton:hover {
	background-color: rgba(0,0,0,0.5);
}

/*-------- Framework --------*/
.content-container {
	width: 50%;
}

/*-------- Landing Page --------*/
.landing {
	height: 100%;
	background: url("images/Angkor Hall.jpg") center/cover no-repeat fixed;
}

.main-text {
	font-size: 5.00rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pull-section {
	width: 100%;
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: hidden;
}

.content {
	font-size: 2.00rem;
	width: 50%;
	padding: 2%;
	margin: 20% auto;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

/*-------- About Me Section --------*/
.aboutme-background {
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: auto;
}

.self-portrait {
	width: 20.0rem;
	height: 20.0rem;
	margin: 10% auto;
}

.self-portrait img {
	width: 100%;
	height: 100%;
}

.textbox {
	font-size: 1.50rem;
	padding: 2%;
	margin: 5% auto;
	background-color: rgba(0, 0, 0, 0.5);
}

/*-------- Portfolio Section --------*/
.portfolio-background {
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: hidden;
}

.picture-grid {
	width: 50%;
	margin: 12% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.picture-grid img{
	width: 100%;
	display: block;
}

.cell {
	width: 25%;
	margin: 2.5% 3%;
	overflow: hidden;
}

.cell img:hover {
	transform: scale(1.15);
}

.main-modal {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 1001;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-image {
	width: 70%;
	height: 70%;
	margin: 5% auto;
}

/*-------- Contact Section --------*/
.contact-background {
	height: 100%;
	overflow: hidden;
}

.contact-content {
	margin: 25% auto;
}

.media-bar {
	list-style-type: none;
	justify-content: center;
	display: flex;
}

.email {
	font-size: 1.50rem;
}

.media-button {
	margin: 0 5%;
}

.media-button img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.media-button img:hover {
	background-color: white;
}

/*-------- Footer Section --------*/
footer {
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}

/*-------- Phone Response --------*/
@media only screen and (max-width: 500px) {
	.portfolio-background {
		overflow: auto;
	}

	.navbar {
		display: none;
	}

	.picture-grid {
		width: 80%;
	}

	.cell {
		width: 100%;
		margin: 2.5% 3%;
	}
}

/*-------- Tablet Response --------*/
@media only screen and (max-width: 800px) and (min-width: 500px) {
	.portfolio-background {
		overflow: auto;
	}

	.picture-grid {
		width: 100%;
		height: 80%;
		margin: 10% auto;
	}

	.cell {
		width: 30%;
	}
}
