html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #323D45;
}

* {
	font-family: "Quicksand", sans-serif;
	/*color: white;*/
	/*border: 1px solid red;*/
}

.default-colour {
	background-color: rgba(45, 45, 45, 0.0);
}

.full-viewport {
	min-height: 100%;
	height: auto;
}

.pt-custom {
	padding-top: 6.00%;
}

.landing {
	background: url("images/dandelion.jpg") center/cover no-repeat fixed;
}

.about-me {
	background: url("images/pen.jpg") center/cover no-repeat fixed;
}

.portfolio {
	background: url("images/coffee.jpg") center/cover no-repeat fixed;
}

.contact {
	background: url("images/fire.jpg") center/cover no-repeat fixed;
}

.lg-thumbnail {
	width: 15.0rem;
	height: 15.0rem;
}

.md-thumbnail {
	width: 15.00rem;
	height: 12.50rem;
}

.media-button {
	width: 4.75rem;
	height: 4.75rem;
}
