html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 16px;
	background-color: #323D45;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	color: white;
	/*border: 1px solid red;*/
}

/*-------- Navgiation Section --------*/
.navbar {
	background-color: rgba(45, 45, 45, 0.0);
	list-style-type: none;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.navbutton {
	text-align: center;
	padding: 0.875rem 1rem;
	width: 6.50rem;
	text-decoration: none;
	float: left;
	clear: right;
}

.navbutton:hover {
	background-color: rgba(0,0,0,0.5);
}

/*-------- Landing Page --------*/
.landing {
	height: 100%;
	background: url("images/Angkor Hall.jpg") center/cover no-repeat fixed;
}

.main-text {
	font-size: 5.00rem;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pull-section {
	width: 100%;
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: hidden;
}

.content {
	text-align: center;
	font-size: 2.00rem;
	width: 60%;
	padding: 2%;
	margin: 20% auto;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

/*-------- About Me Section --------*/
.aboutme-background {
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: auto;
}

.self-portrait {
	width: 20.0rem;
	height: 20.0rem;
	margin: 10% auto;
}

.self-portrait img {
	width: 100%;
	height: 100%;
}

.textbox {
	text-align: center;
	font-size: 1.50rem;
	padding: 2%;
	width: 60.0rem;
	margin: 5% auto;
	background-color: rgba(0, 0, 0, 0.5);
}

/*-------- Portfolio Section --------*/
.portfolio-background {
	height: 100%;
	background: url("images/low-poly.jpg") center/cover no-repeat;
	overflow: hidden;
}

.picture-grid {
	text-align: center;
	vertical-align: center;
	width: 70%;
	height: 100%;
	margin: 1% auto;
	border-spacing: 4.375rem;
}

.picture-grid img{
	padding: 0;
	width: 100%;
	display: block;
}

.picture-grid td:hover {
	transform: scale(1.25);
}

.main-modal {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 1001;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-image {
	width: 70%;
	height: 70%;
	margin: 5% auto;
	background: url("images/Angkor Hall.jpg") center/cover no-repeat;
}

/*-------- Contact Section --------*/
.contact-background {
	height: 100%;
	overflow: hidden;
}

.contact-content {
	width: 80%;
	text-align: center;
	margin: 25% auto;
}

.media-bar {
	list-style-type: none;
	justify-content: center;
	display: flex;
}

.email {
	font-size: 1.50rem;
}

.media-button {
		margin: 0 5%;
}

.media-button img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.media-button img:hover {
	background-color: white;
}

/*-------- Footer Section --------*/
footer {
	font-size: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}
